body{
    width: 70%;
    background-image: url(7178.jpg);
    background-position: right;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    padding: 50px;
}
button{
    background-color: blueviolet;
}
.form-group{
    width: 50%;
    height: 40px;   
}
 #txtDisplay{
    padding: 70px;
    width: 70%;
}
