body{
    width: 70%;
    background-image: url(7178.jpg);
    background-position: right;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    padding: 50px;
}
button{
    background-color: blueviolet;
}
.form-group{
    width: 50%;
    height: 40px;   
}
 #txtDisplay{
    padding: 20px;
    width: 70%;
}
h3{
    text-decoration: solid 10px;
}
input{
    padding: 10px;
    width: 50%;
}
